:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --second-accent-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --accent-bg-color: #f5f4fa;
  --buttons-bg-color: #2196f3;
  --second-bg-color: #2f303a;

  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
}

.logo {
  text-decoration: none;
}

.logo-web {
  color: var(--accent-text-color);
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  /* letter-spacing: 0.03em; */
  text-decoration: none;
}

.logo-studio {
  color: var(--title-text-color);
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  /* letter-spacing: 0.03em; */
  text-decoration: none;
}

.list {
  list-style: none;
}

/* site-nav */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

/* main */
.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--second-accent-text-color);
  font-size: 44px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-title,
.team-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* features */
.feature-list .title {
  color: var(--title-text-color);
}

/* team */
.team {
  background-color: var(--accent-bg-color);
}

.team-list {
  list-style: none;
}

.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
}

.team-work {
  font-size: 16px;
  line-height: 1, 19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* button */
.button {
  color: var(--title-text-color);
  background-color: var(--accent-bg-color);
  cursor: pointer;
  font-family: inherit;
}

.button.primary {
  color: var(--second-accent-text-color);
  background-color: var(--buttons-bg-color);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 88;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button.secondary {
  color: var(--title-text-color);
  background-color: var(--accent-bg-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
}

.title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title-text {
  font-size: 14px;
  line-height: 1, 71;
  /* or 171% */
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--second-bg-color);
}

.logo-footer {
  color: var(--second-accent-text-color);
  font-size: 26px;
}

.address {
  color: var(--second-accent-text-color);
  font-size: 14px;
  line-height: 1, 71;
  /* or 171% */
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
}

.address-link {
  font-size: 14px;
  line-height: 1, 71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.portfolio-name {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  text-decoration: none;
}

.portfolio-list {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1, 88;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  text-decoration: none;
}

.portfolio-link {
  text-decoration: none;
}

.address:hover,
.address-link:hover,
.address-link:focus,
.address:focus {
  color: var(--accent-text-color);
}
